* {
    font-size: 0;
    font-family: Arial,sans-serif;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background: linear-gradient(90deg, #fbc2eb, #c3d8fa);
}
#content {
    min-height: 100%;
    margin: 0 auto;
    width: 100vmin;
    background-color: rgba(255,255,255,0.4);
}

#title {
    font-size: 4.5vmin;
    line-height: 8vmin;
    font-weight: bold;
    text-align: center;
}
#tagPool {
    padding: 1.25vmin;
}
.tag {
    display: inline-block;
    margin: 1.25vmin 1.25vmin;
    width: 17vmin;
    line-height: 4.5vmin;
    font-size: 2.2vmin;
    text-align: center;
    color: #ffffff;
    background: #1f1f1f;
    cursor: pointer;
    box-shadow: 0 0.5vmin 1vmin 0.1vmin #555566;
}
.tag.selected {
    background: #1e9eff;
}
.tagInput {
    line-height: 4vh;
    font-size: 3vh;
    width: 32vh;
}
#buttonContainer {
    text-align: center;
    padding: 2vmin 0;
}
#buttonContainer button {
    display: inline-block;
    margin: 0 auto;
    width: 18.5vmin;
    line-height: 5.3vmin;
    font-size: 3vmin;
    border: none;
    outline: none;
    color: #ffffff;
    background: #1e9eff;
    box-shadow: 0 0.5vmin 1vmin 0.1vmin #555566;
}
#methodSelector {
    display: inline-block;
    margin-right: 5vmin;
}

#results {
    padding: 1.25vmin;
}
.result {
    border-top: 1px solid #bbbbca;
    padding: 1vmin 0;
}
.line div{
    margin: 1.25vmin 1.25vmin;
    width: 17vmin;
    line-height: 4.5vmin;
    font-size: 2.2vmin;
    text-align: center;
    display: inline-block;
    cursor: default;
}
.line .label {
    font-size:2.6vmin;
    font-weight: bold;
}
.tag.recommend {
    background: #1e9eff;
}
.agent {
    box-shadow: 0 0.5vmin 1vmin 0.1vmin #555566;
}
.agent.s6 {
    background-color: #e6e62e;
}
.agent.s5 {
    background-color: #e6e62e;
}
.agent.s4 {
    background-color: #8a2ee6;
}
.agent.s3 {
    background-color: #e6e6e6;
}

#tips {
    padding: 0.5vmin 3vmin;
    font-size: 3vmin;
}
#tips a{
    font-size: 3vmin;
    text-decoration: underline;
}